body{
    overflow-x: hidden;
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}
.nav{
    display: flex;
    height: 50px;
    background-color: #f44336!important;
    width: 100vw;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    z-index: 10;
}
.home{
    background-color: #fff!important;
    border: none;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
.home:hover{
    cursor: pointer;
    background-color: transparent;
}
.link:hover{
    background-color: #fff!important;
    color: black;
    cursor: pointer;
}
.link{
    color: white;
    background-color: #f44336!important;
    border: none;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
.start_page{
    width: 100vw;
    height: 65vh;
    background-color: #f44336!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.start{
    font-size: 4rem;
    color: white;

    font-family: 'Montserrat', sans-serif;
    margin-top: -15px;

}
.temp{
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: -5px;
    font-family: "Lato", sans-serif;
}
.getStarted{
    border: none;
    color: white;
    background-color: black;
    width: 150px;
    height: 50px;
    font-size: 1.125rem;
    margin-top: 10px ;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 600;
}
.getStarted:hover{
    background-color: rgb(239, 239, 239);
    color: black;
    cursor: pointer;

}
.Lorem1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-height: 70vh;
    width:100vw;
    padding-top: 100px;
    padding-bottom: 100px;

}
.left{
    display: flex;
    flex-direction: column;
    max-width: 650px;

}
.big-lor{
    font-size: 1.1rem;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Lato", sans-serif;
}
.big-lorhead{
    font-size: 2.25rem;
    font-weight: normal;
    color: black;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif ;
    
    
}
.lor{
    color:  #757575!important;
    font-family: 'Montserrat', sans-serif ;
    font-size: 0.9rem;
    font-weight: 600;
}
.right2{
    order:2;
}
.left2{
    order:1;
}
.Lorem2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1!important;
    max-height: 60vh;
    width:100vw;
    padding-top: 50px;
    padding-bottom: 100px;

}
.big-lor2{
    font-size: 1.3rem;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}
.big-lorhead2{
    font-size: 2.3rem;
    font-weight: normal;
    color: black;
}
.lor2{
    color:  #757575!important;
}
.right2{
    display: flex;
    flex-direction: column;
    max-width: 500px;

}
.thrdSection{
    background-color:grey;
    height: 210px;

    margin-bottom: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote{
    font-size: 1.7rem;
    color: #fff;
}